@model TestTwo_20151.ViewModels.ImageFull

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ImageFull</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>

        <dd>
            <img src='@(Model.ImageUrl)' alt="@Model.Name" title="@Model.Name" style="width: 200px;" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
